@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
	--font-montserrat: 'Montserrat', sans-serif;
	--font-bebas-neue: 'Bebas Neue', sans-serif;
	--color-gray-normal: #34353f;
	--color-gray-transparent: rgba(93, 94, 100, 0.5);
	--color-gray-dark: #232329;
	--color-blue-light: #4d68f0;
	--color-overlay: rgba(0, 0, 0, 0.438);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);

	--radius-md: calc(var(--radius) - 2px);

	--radius-lg: var(--radius);

	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);

	--color-foreground: var(--foreground);

	--color-card: var(--card);

	--color-card-foreground: var(--card-foreground);

	--color-popover: var(--popover);

	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);

	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);

	--color-secondary-foreground: var(--secondary-foreground);

	--color-muted: var(--muted);

	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);

	--color-accent-foreground: var(--accent-foreground);

	--color-destructive: var(--destructive);

	--color-border: var(--border);

	--color-input: var(--input);

	--color-ring: var(--ring);

	--color-chart-1: var(--chart-1);

	--color-chart-2: var(--chart-2);

	--color-chart-3: var(--chart-3);

	--color-chart-4: var(--chart-4);

	--color-chart-5: var(--chart-5);

	--color-sidebar: var(--sidebar);

	--color-sidebar-foreground: var(--sidebar-foreground);

	--color-sidebar-primary: var(--sidebar-primary);

	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

	--color-sidebar-accent: var(--sidebar-accent);

	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

	--color-sidebar-border: var(--sidebar-border);

	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;

	--background: oklch(1 0 0);

	--foreground: oklch(0.145 0 0);

	--card: oklch(1 0 0);

	--card-foreground: oklch(0.145 0 0);

	--popover: oklch(1 0 0);

	--popover-foreground: oklch(0.145 0 0);

	--primary: oklch(0.205 0 0);

	--primary-foreground: oklch(0.985 0 0);

	--secondary: oklch(0.97 0 0);

	--secondary-foreground: oklch(0.205 0 0);

	--muted: oklch(0.97 0 0);

	--muted-foreground: oklch(0.556 0 0);

	--accent: oklch(0.97 0 0);

	--accent-foreground: oklch(0.205 0 0);

	--destructive: oklch(0.577 0.245 27.325);

	--border: oklch(0.922 0 0);

	--input: oklch(0.922 0 0);

	--ring: oklch(0.708 0 0);

	--chart-1: oklch(0.646 0.222 41.116);

	--chart-2: oklch(0.6 0.118 184.704);

	--chart-3: oklch(0.398 0.07 227.392);

	--chart-4: oklch(0.828 0.189 84.429);

	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(0.985 0 0);

	--sidebar-foreground: oklch(0.145 0 0);

	--sidebar-primary: oklch(0.205 0 0);

	--sidebar-primary-foreground: oklch(0.985 0 0);

	--sidebar-accent: oklch(0.97 0 0);

	--sidebar-accent-foreground: oklch(0.205 0 0);

	--sidebar-border: oklch(0.922 0 0);

	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);

	--foreground: oklch(0.985 0 0);

	--card: oklch(0.205 0 0);

	--card-foreground: oklch(0.985 0 0);

	--popover: oklch(0% 0 0);

	--popover-foreground: oklch(0.985 0 0);

	--primary: oklch(0.922 0 0);

	--primary-foreground: oklch(0.205 0 0);

	--secondary: oklch(0.269 0 0);

	--secondary-foreground: oklch(0.985 0 0);

	--muted: oklch(0.269 0 0);

	--muted-foreground: oklch(0.708 0 0);

	--accent: oklch(0.269 0 0);

	--accent-foreground: oklch(0.985 0 0);

	--destructive: oklch(0.704 0.191 22.216);

	--border: oklch(1 0 0 / 10%);

	--input: oklch(1 0 0 / 15%);

	--ring: oklch(0.556 0 0);

	--chart-1: oklch(0.488 0.243 264.376);

	--chart-2: oklch(0.696 0.17 162.48);

	--chart-3: oklch(0.769 0.188 70.08);

	--chart-4: oklch(0.627 0.265 303.9);

	--chart-5: oklch(0.645 0.246 16.439);

	--sidebar: oklch(0% 0 0);

	--sidebar-foreground: oklch(0.985 0 0);

	--sidebar-primary: oklch(0.488 0.243 264.376);

	--sidebar-primary-foreground: oklch(0.985 0 0);

	--sidebar-accent: oklch(0.269 0 0);

	--sidebar-accent-foreground: oklch(0.985 0 0);

	--sidebar-border: oklch(0% 0 0 / 0.1);

	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-montserrat;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		@apply appearance-none;
		margin: 0;
	}

	input[type='number'] {
		@apply appearance-none;
	}
}

@utility welcome-hero-rounded-effect {
	@apply before:content-[""] before:absolute before:z-5 before:h-[303px] before:w-full before:bottom-0 before:bg-blue-light before:rounded-tl-[120px];
}

@utility login-top-rounded-effect {
	@apply after:content-[""] after:absolute after:bottom-0 after:right-0 after:w-full after:bg-gray-normal after:h-full after:-z-10;
}

@utility login-bottom-rounded-effect {
	@apply after:content-[""] after:absolute after:top-0 after:left-0 after:w-full after:bg-gray-dark after:h-full after:-z-10;
}

@utility overlay {
	@apply after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-overlay;
}

@utility homeOverlay {
	@apply after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-r after:from-black/100 after:via-black/40 after:to-fuchsia-500/0;
}

@utility movieCardOverlay {
	@apply after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/100 after:via-black/40 after:to-fuchsia-500/0;
}

@utility movieDetailsPage {
	@apply relative min-h-screen bg-cover bg-center px-[3rem] homeOverlay;
}

@utility container-sm {
	@apply max-w-[1000px] mx-auto my-0;
}

@utility container-md {
	@apply max-w-[1200px] mx-auto my-0;
}
@utility container-lg {
	@apply max-w-[1600px] mx-auto my-0 border border-yellow-400;
}

@layer components {
	/* Header */
	.header {
		@apply p-5 absolute left-0 right-0 top-0 z-10 flex px-[3rem] sm:px-0 sm:justify-center;

		nav {
			@apply text-gray-300 text-lg;

			ul {
				@apply flex items-center gap-20;

				li {
					@apply hover:text-white transition-colors duration-300;
				}
			}
		}
	}

	/* Home page */
	.home {
		@apply movieDetailsPage;

		.home__movieInfo {
			@apply flex flex-col items-start relative z-5 container-sm pt-25 text-white;

			h1 {
				@apply text-6xl font-bebas-neue sm:text-8xl;
			}

			> div {
				@apply mt-5 flex items-center gap-10;

				div {
					@apply flex items-center gap-5;

					span {
						@apply text-sm border border-white rounded-4xl p-2;
					}
				}
			}

			p {
				@apply mt-10 leading-7 lg:w-1/2;
			}

			a {
				@apply flex items-center gap-3 mt-15 bg-gray-transparent py-3 px-5 rounded-4xl transition-colors duration-300 hover:bg-gray-normal;
			}
		}

		.home__popular {
			@apply relative w-full z-5 flex flex-col items-center gap-1 mt-20 mb-10 sm:mt-30;

			h2 {
				@apply text-xl font-medium;
			}

			div {
				@apply flex gap-2 w-[300px] sm:w-[650px] xl:w-[900px];

				figure {
					@apply relative w-[130px] h-[200px] movieCardOverlay border border-gray-400 rounded-md overflow-hidden;

					img {
						@apply w-full h-full;
					}

					figcaption {
						@apply absolute z-10 bottom-0 left-0 right-0 p-2 text-white text-sm font-medium;
					}
				}
			}
		}
	}

	/* Movie Info page */
	.movieInfo {
		@apply movieDetailsPage;

		.movieInfo__hero {
			@apply flex flex-col justify-between items-start relative z-5 container-sm pt-25 text-white h-full;

			h1 {
				@apply text-6xl font-bebas-neue sm:text-8xl;
			}

			div:nth-child(2) {
				@apply flex gap-5;
				button {
					@apply flex items-center gap-2 border  p-4 rounded-4xl cursor-pointer transition-colors duration-300;

					span {
						@apply font-medium hidden min-[480px]:block;
					}
				}

				button:first-child {
					@apply border-red-500 hover:bg-red-500;
				}
				button:last-child {
					@apply border-blue-light hover:bg-blue-light;
				}
			}

			div:last-child {
				@apply self-center flex flex-col items-center gap-5 py-8;

				span {
					@apply text-2xl;
				}

				button {
					@apply flex items-center justify-center cursor-pointer p-4 rounded-full transition-colors duration-300 hover:text-blue-light;
				}
			}
		}
	}
	.movieInfo__details {
		@apply bg-background py-20 px-[3rem] text-white;

		.movieInfo__details__top {
			@apply container-sm flex flex-col gap-5;

			h2 {
				@apply text-4xl font-medium font-bebas-neue mb-5;
			}

			p {
				@apply leading-7;
			}

			.movieInfo__details__top-info {
				@apply mt-7 border-y border-gray-700 py-8 flex flex-col gap-7;

				div {
					@apply flex items-center gap-3;
				}
				> div:nth-child(2) {
					@apply text-sm  flex-wrap leading-10;

					a {
						@apply border border-blue-light p-3 rounded-full transition-colors duration-300 hover:bg-blue-light;
					}
				}
				> div:nth-child(5) {
					@apply flex-wrap;
				}
			}
		}
		.movieInfo__details__credits {
			@apply container-sm mb-30 flex flex-col;

			h4 {
				@apply text-xl font-medium;
			}

			.movieInfo__details__credits-content {
				@apply py-5;
				figure {
					@apply flex items-center justify-between w-full border border-gray-600 rounded-2xl overflow-hidden;

					img {
						@apply w-[100px] h-[150px] object-cover;
					}

					figcaption {
						@apply flex flex-col gap-2 p-2 text-white text-sm font-medium text-center;
					}
				}
			}
		}

		.movieInfo__details__videos {
			@apply container-sm mb-20 flex flex-col gap-10;

			h4 {
				@apply text-xl font-medium;
			}

			.movieInfo__details__videos-list {
				@apply flex flex-col items-center justify-center gap-8 lg:flex-row;

				div {
					@apply w-full;

					iframe {
						@apply w-full h-[350px] rounded-md;
					}
				}
			}
		}
	}

	/* Search styles */
	.search__sugestions {
		@apply py-4 relative;

		ul {
			@apply absolute z-10 bg-white dark:bg-background w-full mt-2 rounded border shadow-lg  overflow-hidden;

			li {
				@apply px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer;

				a {
					@apply flex items-center justify-between;
				}
			}
		}
	}

	/* Browse */
	.browse {
		@apply px-[3rem] md:pl-[3rem] md:pr-[5rem] min-h-screen bg-background text-white py-25;

		h1 {
			@apply text-4xl mb-7;
		}
	}

	.browse__content {
		@apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4;
	}

	.browse__search {
		@apply flex flex-col gap-10 mt-5;

		.browse__search-sort {
			@apply flex flex-col justify-center items-center gap-8 sm:flex-row sm:gap-12 sm:flex-wrap;
		}

		button:last-child {
			@apply px-4 py-2 bg-blue-light rounded-md hover:bg-blue-600 transition-colors duration-300 cursor-pointer;
		}
	}

	/* Favorites */
	.favorites {
		@apply px-[3rem] min-h-screen bg-background text-white py-25;
	}

	.favorites__top {
		@apply pb-10 border-b;

		h2 {
			@apply text-4xl mb-5;
		}
	}

	.favorites__content {
		@apply mt-10;

		ul {
			@apply flex flex-col gap-10;

			li {
				@apply flex flex-col gap-5 justify-between border p-4 rounded sm:flex-row;
			}
		}
	}

	.favorites__content-info {
		@apply flex flex-col justify-between items-end;

		div {
			@apply flex flex-col items-end mt-3;

			small {
				@apply text-gray-400;
			}

			button {
				@apply mt-1 cursor-pointer text-gray-500 text-sm hover:underline;
			}
		}
	}

	/* Lists */
	.lists {
		@apply px-[3rem] min-h-screen bg-background text-white py-25;
	}

	.lists__top {
		@apply pb-10 border-b;

		h2 {
			@apply text-4xl mb-5;
		}
	}

	/* Welcome page */
	.welcome {
		@apply relative min-h-screen bg-[url(/assets/welcome-bg.jpg)] bg-cover bg-center welcome-hero-rounded-effect;

		.welcome__content {
			@apply absolute z-10 bottom-0 left-0 right-0 w-full h-[300px] flex items-center justify-center bg-gray-normal rounded-tl-[120px];

			div {
				@apply w-[400px] text-center p-4;

				h1 {
					@apply text-4xl font-bebas-neue text-white tracking-wider mb-4;
				}

				p {
					@apply text-gray-300 mb-10;
				}
			}
		}
	}

	/* Login */
	.loginTop {
		@apply relative min-h-[62vh] bg-gray-dark py-10 rounded-br-[200px] login-top-rounded-effect;
	}

	.loginTop__content {
		@apply flex flex-col items-center justify-between container-sm;

		div {
			@apply text-white text-center;

			h2 {
				@apply font-medium text-2xl mb-5;
			}
		}
	}

	.loginTop__form {
		@apply relative w-full px-10 flex flex-col items-center gap-8 mt-10 sm:w-[500px] md:w-[700px];

		div {
			@apply w-full;
		}
	}

	.loginTop__buttons {
		@apply absolute z-10 w-full px-10 -bottom-[210px] flex flex-col items-center gap-5;
	}

	.loginBottom {
		@apply relative min-h-[60vh] bg-gray-normal rounded-tl-[200px] login-bottom-rounded-effect flex justify-center text-white;

		p {
			@apply mt-48;
			a {
				@apply font-bold hover:underline;
			}
		}
	}

	/* Footer */
	.footer {
		@apply bg-gray-dark text-white p-5;
	}

	.footer__content {
		@apply flex flex-col gap-10 p-3;

		div:nth-child(1) {
			@apply border-b-1 border-gray-700 pb-5;

			p {
				@apply text-gray-400 text-sm leading-relaxed;
			}
		}

		div:nth-child(2) {
			@apply flex justify-between;

			strong {
				@apply font-medium;
			}

			a {
				@apply hover:text-gray-400 transition-colors duration-300;
			}
		}
	}

	/* Loader */
	.loader {
		@apply absolute left-0 bottom-0 w-full h-full flex justify-center items-center opacity-90 transition-all duration-500 z-[9999] bg-background;

		& svg {
			width: 3.25em;
			transform-origin: center;
			animation: rotate4 2s linear infinite;
		}

		& circle {
			fill: none;
			stroke: theme(--color-blue-800);
			stroke-width: 2;
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			stroke-linecap: round;
			animation: dash4 1.5s ease-in-out infinite;
		}
	}
	@keyframes rotate4 {
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes dash4 {
		0% {
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
		}

		50% {
			stroke-dasharray: 90, 200;
			stroke-dashoffset: -35px;
		}

		100% {
			stroke-dashoffset: -125px;
		}
	}

	/* MobileSidebarToggle */
	.MobileSidebarToggle {
		@apply md:hidden mb-5 p-3 border rounded-full cursor-pointer bg-transparent text-white hover:bg-gray-transparent transition-colors duration-200;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
